.current {
	font-weight: bold;
}

.text {
	font-size: 1.1em;
	line-height: 1.1em;
	font-family: Courier New;
}

.centered {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
}

.query-error {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: red;
}

.examples-query {
	color: #bcbcbd; font-style : italic;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	font-style: italic;
}

.example-query {
	text-decoration: underline;
	display: inline-block;
}

.introduction {
	line-height: 1.5em;
	padding-right: 3%;
	padding-left: 3%;
	padding-top: 1%;
}

.img404 {
	background-image: url(../images/face-404.png);
	height: 200px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	background-size: 100%;
}

.top-logo {
	margin-right: 1em;
}

.example-query:hover {
	color: #ffe533;
	cursor: pointer;
}

.input-query {
	display: block;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	font-size: 1.1em;
	padding: 0.3em;
	border: solid #bcbcbd 4px;
}

.submit-query {
	display: block;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	padding: 0.3em;
}

.text-radio {
	display: inline-block;
}

.label-query {
	font-weight: bold;
	margin-bottom: 0.6em;
}

.indication {
	font-size: 1.1em;
	line-height: 1.1em;
	font-family: Courier New;
	font-weight: bold;
	color: #bcbcbd;
	margin-bottom: 0.5em;
}

.sub {
	margin-bottom: 0.5em;
}

.super {
	margin-bottom: 0.5em;
}

.icon-category {
	width: 1.1em;
	height: 1.1em;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 100%;
	vertical-align: middle;
}

.name {
	vertical-align: middle;
	display: inline-block;
}

a {
	color: #000;
}

a:hover {
	color: #bcbcbd;
}

.drug {
	background-image: url(../images/drug.png);
}

.dot {
	background-image: url(../images/dot.png);
}

.anon {
	background-image: url(../images/anon.png);
}

.drug-bank {
	background-image: url(../images/drugbank.png);
}

.label {
	vertical-align: middle;
	display: inline-block;
}

.seeAlso {
	vertical-align: middle;
	display: inline-block;
}

.box {
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
}

.current-container {
	border: solid #bcbcbd 0px;
	padding: 1%;
	margin-top: 1%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #ffef80;
}

.menu-item {
	display: block;
	float: left;
	margin-left: 1.3em;
}

.menu {
	font-size: 1.2em;
	line-height: 1.2em;
	font-family: Courier New;
	width: 100%;
	background-color: #bcbcbd;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	height: 1.2em;
	margin-bottom: 1.4em;
}

.menu a:hover {
	color: #ffe533;
}

.logo {
	border-bottom: 2px solid #ffe533;
	padding: 0.6em;
	background-color: #bcbcbd;
	font-family: Courier New;
	font-size: 1.2em;
	font-weight: bold;
}

.super-container {
	padding: 1%;
	background-color: #fff5b2;
}

.sub-container {
	padding: 1%;
	margin-top: 1%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 1%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #ffe533;
}