#{extends 'main.html' /}
#{set title: 'OWL ATC' /}

<div class="text introduction">
//TODO: Changing this text<br />
Some recent attempts to evaluate computational predictions of drug 
indications rely on the use of the Anatomical Therapeutic Chemical Classification System (ATC) as an
 internationally accepted gold standard. In order to maximize its interoperability with DrugBank, a major provider of 
 drug knowledge, we improved by over 13% the mappings between these two resources. 
 We also converted the ATC in an OWL representation, in order to be able to query and explore its content via a reasoning engine. 
 The work is accessible via a web interface (www.ebi.ac.uk) and would consist of a repository assisting future drug discovery or repurposing initiatives.<br /><br />
 <strong>Contact: </strong><a href="http://samuelcroset.com/contact">http://samuelcroset.com/contact</a><br />
 <strong>Source code: </strong><a href="https://github.com/loopasam/ATCExplorer">https://github.com/loopasam/ATCExplorer</a><br />
  
 </div>