#{extends 'main.html' /}
#{set title: 'OWL ATC' /}

<div class="text introduction">
The field of drug discovery has monitored in the recent years
a growth of the number of computational methods used to
predict new biological actions for chemical compounds. In
order to evaluate the predictions and to gain insights of the
potential usage of the drug, the <a href="http://www.whocc.no/atc/structure_and_principles/">Anatomical Therapeutic
Chemical Classification System</a> (ATC) serves as an
internationally accepted gold standard. However, this
classification was not initially developed to accomplish the
mentioned task and therefore lacks of connections with other
biological databases. In order to maximize its interoperability
with <a href="http://www.drugbank.ca/">DrugBank</a>, a major provider of drug knowledge, we
improved by over 13% the number of current mappings with
the ATC. We then converted the classification in a Web
Ontology Language (OWL) representation, in order to be
able to query and explore its content via a reasoning engine.
 The work is accessible via this web interface and would consist of a repository assisting future drug discovery or repurposing initiatives.<br /><br />
 <strong>Contact: </strong><a href="http://samuelcroset.com/contact">http://samuelcroset.com/contact</a><br />
 <strong>Source code: </strong><a href="https://github.com/loopasam/ATCExplorer">https://github.com/loopasam/ATCExplorer</a><br />
  
 </div>