#{extends 'main.html' /}
%{
	ctx = play.configuration.getProperty('war.context', '');
	titleModif = currentClass.name+' - '+currentClass.label;
	if(currentClass.label == null){
		titleModif = currentClass.name;
	}
}%
#{set title: titleModif /}

#{if superClasses}
<div class="super-container box"><div class="indication">SuperClass</div>
#{/if}
	
	#{list superClasses, as:'superClass'}
	<div class="super text">
		<div class="${superClass.logo} icon-category"></div>
		<div class="name">
			<a href="${ctx}/${superClass.name}">${superClass.name}</a>
		</div>
		<div class="label">
		${superClass.label}
		</div>
	</div>
	#{/list}
	
	<div class="current-container box">
		<div class="current text">
			<div class="${currentClass.logo} icon-category"></div>
			<div class="name">
			${currentClass.name}
			</div>
			#{if currentClass.label}
			<div class="label">
			 : ${currentClass.label}
			</div>
			#{/if}
			#{if currentClass.seeAlso}
			<div class="seeAlso">
			<a href="${currentClass.seeAlso}" target="_BLANK">(In DrugBank)</a>
			</div>
			#{/if}
		</div>
		#{if subClasses}
		<div class="sub-container box"><div class="indication">SubClass</div>
			#{list subClasses, as:'subClass'}
			<div class="sub text">
			<div class="${subClass.logo} icon-category"></div>
				<div class="name">
					<a href="${ctx}/${subClass.name}">${subClass.name}</a>
				</div>
				<div class="label">
				${subClass.label}
				</div>
			</div>
			#{/list}
		</div>
		#{/if}
	</div>
#{if superClasses}
</div>
#{/if}

<script>
$(function() {
   $(".current-container").animate({
    borderWidth: "10px",
    textSize: "20px",
  }, 500 );

});
</script>